<% if(success && success.length){ %>
<div
  class="alert alert-primary alert-dismissible fade show w-100 small"
  style="
    max-width: 300px;
    top: 3%;
    right: 5%;

    position: absolute;
    z-index: 1000;
  "
  role="alert"
>
  <span class="d-block text-center"><%- success %></span>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<% } %> <% if(error && error.length){ %>
<div
  class="alert alert-danger alert-dismissible fade show w-100 small error"
  style="
    max-width: 300px;
    top: 2%;
    right: 5%;

    position: absolute;
    z-index: 1000;
  "
  role="alert"
>
  <span class="d-block text-center"><%- error %></span>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<% } %>
