<footer
  class="footer py-3 mt-auto shadow-sm border-top border-muted"
  style="background-color: #434d4e"
>
  <div class="container text-muted text-center">
    <span>&copy ClientBook 2021</span>
  </div>
</footer>
<script src="/scripts/main.js"></script>
<script src="/scripts/validateInputs.js"></script>
<script src="/scripts/dropdown.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
