<footer class="footer py-3 mt-auto shadow-sm border-top border-muted" style="background-color: #434D4E;">
    <div class="container text-muted text-center"><span>&copy ClientBook 2021</span></div>
</footer>
