<nav class="navbar navbar-expand-lg navbar-dark shadow-sm px-1">
  <div class="container px-3" style="max-width: 1200px">
    <a class="navbar-brand d-flex align-items-center" href="/dashboard">
      <img src="/images/logo.svg" class="me-2" alt="" /><span class="fs-4"
        >Clientbook</span
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex justify-content-between">
        <li class="nav-item text-nowrap px-3">
          <a class="nav-link" href="/clients/new">
            <i class="fa-solid fa-user-plus me-2"></i>Add Client
          </a>
        </li>

        <li class="nav-item w-100 position-relative" id="input-container">
          <form autocomplete="off" class="d-flex">
            <input
              class="form-control"
              id="input-box"
              type="search"
              placeholder="Search client"
              aria-label="Search"
              name="search"
            />
          </form>

          <ul class="dropdown dropdown--active" id="dropdown"></ul>
        </li>

        <li class="nav-item text-nowrap px-3">
          <% if(currentUser){ %>
          <a href="/logout" class="nav-link"
            ><i class="pe-2 fa-regular fa-arrow-right-from-bracket"></i
            >Logout</a
          >
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
