<nav
  class="navbar navbar-expand-lg navbar-dark shadow-sm px-2"
  style="background-color: #434d4e"
>
  <div class="container mx-auto">
    <a class="navbar-brand" href="/clients">
      <% if(currentAccount){ %> <%= currentAccount.name %> <% } else { %>
      ClientBook <% } %>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex justify-content-between">
        <li class="nav-item text-nowrap px-3">
          <a class="nav-link" href="/clients/new">
            <i class="me-2 bi bi-plus-circle"></i>New Client
          </a>
        </li>

        <li class="nav-item w-100 position-relative" id="input-container">
          <form autocomplete="off" class="d-flex">
            <input
              class="form-control"
              id="input-box"
              type="search"
              placeholder="Search client"
              aria-label="Search"
              name="search"
            />
          </form>

          <ul class="dropdown dropdown--active" id="dropdown"></ul>
        </li>

        <li class="nav-item text-nowrap px-3">
          <% if(currentUser){ %>
          <a href="/logout" class="nav-link"
            ><i class="pe-2 bi bi-box-arrow-right"></i>Logout</a
          >
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
