<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #434D4E;">
    <div class="container-fluid mx-5">
      <a class="navbar-brand" href="/clients">ClientBook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-3" id="navbarNav">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a class="nav-link" href="clients/new"><i class="pe-2 bi bi-plus-circle"></i>New Client</a>
          </li>
          <li class="nav-item ps-3 w-75">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search client name" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </li>

        </ul>
      </div>
      
    </div>
  </nav>