<%- include('./partials/head') -%>
<body class="d-flex flex-column" style="min-height: 100vh">
  <div
    class="d-flex w-100 h-100"
    style="background-color: #f5f5f5; min-height: 100vh"
  >
    <main class="container px-5 py-4 mx-auto w-100" style="max-width: 900px">
      <div class="mx-auto mt-5 alert alert-danger" role="alert">
        <h4 class="fs-3 text-center alert-heading"><%=err.message%></h4>
      </div>
    </main>
  </div>
  <%- include('./partials/footer') -%>
</body>
