<%- include('./partials/head') -%>
<body class="d-flex flex-column" style="min-height: 100vh">
  <div
    class="d-flex w-100 h-100"
    style="background-color: #f5f5f5; min-height: 100vh"
  >
    <main class="container px-3 py-4 mx-auto w-100" style="max-width: 900px">
      <div class="mx-auto mt-5" role="alert">
        <h4 class="fs-3 text-center text-danger">
          That was not meant to happen!
        </h4>

        <div class="mx-auto">
          <img class="w-100" src="/images/td-simpsons-dog.jpeg " alt="" />
        </div>
      </div>
      <a class="link-primary text-center mt-3 d-block" href="/dashboard">
        Back to the dashboard</a
      >
    </main>
  </div>
  <%- include('./partials/footer') -%>
</body>
