<%- include('./partials/head') -%>

<body class="d-flex flex-column vh-100 ">
    <nav class="navbar navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand fw-bold" href="#">
            
            ClientBook
          </a>
        </div>
      </nav>
      <header style="min-height: 40vh; background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
          <div class="container py-5 border border-warning h-100">
            <div class="row gx-5 d-flex justify-content-between w-100 border border-primary mx-auto pt-5">

                <div class="col-lg-6 mb-5 pe-3 border border-danger h-100" style="max-width: 600px;">
                    <h1 class="mb-4 fw-bold" style="font-size: 2.5rem">The CRM that wants you to use it less</h1>
                    <p class="fs-5">Easily manage all your client information so you can spend less time on administraiton and more time delivering quality advice. </p>
                    <button class="btn btn-primary btn-lg">Try for free</button>            
                </div>

                  
              </div>
          </div>
        
      </header>
      <main>
        <div class="container">

            <div class="row p-5">
                <div class="col-6">
                    <img class="d-block" style="max-width: 28rem;" src="/images/dashboard placeholder.png" alt="">
                </div>
                <div class="col-6">
                    <h1 class="mb-4 fw-bold" style="font-size: 2.5rem">The CRM that wants you to use it less</h1>
                    <p class="fs-5">Easily manage all your client information so you can spend less time on administraiton and more time delivering quality advice. </p>
                </div>
               
                
            </div>
            <div class="row p-5">
                
                <div class="col-6">
                    <h1 class="mb-4 fw-bold" style="font-size: 2.5rem">The CRM that wants you to use it less</h1>
                    <p class="fs-5">Easily manage all your client information so you can spend less time on administraiton and more time delivering quality advice. </p>
                </div>
                <div class="col-6">
                    <img class="d-block" style="max-width: 28rem;" src="/images/dashboard placeholder.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="container">

            <h1>Demo Video</h1>
            
        </div>

        <div class="container">

            <h1>Features</h1>
            <div class="row p-5">
                <div class="col-4">Feature</div>
                <div class="col-4">Feature</div>
                <div class="col-4">Feature</div>
            </div>
            
        </div>
        <div class="container">

            <h1>Used by over 300,000 global companies</h1>
            <div class="row p-5">
                <div class="col-2">Feature</div>
                <div class="col-2">Feature</div>
                <div class="col-2">Feature</div>
                <div class="col-2">Feature</div>
                <div class="col-2">Feature</div>
                <div class="col-2">Feature</div>
            </div>
            
        </div>
          
      </main>

    
</body>

<%- include('./partials/footer') -%>