<%- include('./partials/head') -%>

<body class="d-flex flex-column vh-100 ">
   

<main class="container mt-5">

    <div class="px-4 py-5 my-5 text-center">
        
        <h1 class="display-5 fw-bold">Welcome to Dog Book</h1>
        <div class="row my-3 justify-content-center">
            <div class=" col-6 col-xs-4 col-md-3">
                <img src="/images/IMG_2448.jpg" alt="" class="w-100 rounded-circle border-primary border">
            </div>

        </div>
 
        
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 fs-4">A CRUD app built using Bootstrap, Node.js, Express & MongoDB for sharing your doggy with the world.</p>
        
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-primary btn-lg px-4 gap-3">Sign Up</button>
            <button class="btn btn-outline-secondary btn-lg px-4">Login</button>
        </div>
        
        </div>
    </div>


</main>
    
</body>

<%- include('./partials/footer') -%>