<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Book</title>
    <script src="https://kit.fontawesome.com/c4176e51a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/styles/dropdown.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="d-flex flex-column ">
    
    <nav class="navbar navbar-light bg-white">
        <div class="container d-flex justify-content-between">
          <a class="navbar-brand fw-bold" href="#">
            
            ClientBook
          </a>
          <div class="d-flex">
            <% if(!currentUser){ %>
            <span class="nav-item">
                <a class="nav-link link-secondary" href="/login">Log in</a>
              </span>
              <span class="nav-item">
                <a class="btn btn-primary ms-4" href="/register">Try for free</a>
              </span>
            <% } else { %>
              <span class="nav-item">
                <a class="btn btn-primary ms-4" href="/logout">Logout</a>
              </span>
            <% } %>
          </div>
        </div>
      </nav>


      <header style="min-height: 40vh; background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
          <div class="container py-5 border border-warning h-100">
            <div class="row gx-5 d-flex justify-content-between w-100 border border-primary mx-auto pt-5">

                <div class="col-lg-6 mb-5 pe-3 border border-danger h-100" style="max-width: 600px;">
                    <h1 class="mb-4 fw-bold" style="font-size: 2.5rem">The CRM that wants you to use it less</h1>
                    <p class="fs-5">Easily manage all your client information so you can spend less time on administraiton and more time delivering quality advice. </p>
                    <button class="btn btn-primary btn-lg">Try for free</button>            
                </div>
                <div class="col-lg-6">
                    <img class="d-block" style="max-width: 28rem;" src="/images/dashboard placeholder.png" alt="">
                </div>
                  
              </div>
          </div>
        
      </header>
      <main>
        <div class="container p-5 border border-primary">

          
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                  <i class="fad fa-address-card" style="font-size: 5rem; text-align: center;"></i>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <i class="fad fa-user-chart" style="font-size: 5rem; text-align: center;"></i>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <i class="fad fa-chart-pie" style="font-size: 5rem; text-align: center;"></i>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                   
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="container border border-primary p-5" style="">

            <h1 class="text-center pb-4">Demo Video</h1>
            <img class="d-block m-auto" style="max-width: 50rem;" src="/images/dashboard placeholder.png" alt="">
            
        </div>

        <div class="container border border-primary p-5" style="">

            
   
            
        </div>
        <div class="container p-5">

            <h1 class="text-center my-5">Join 1,000 global businesses using ClientBook now </h1>
            <button class="btn btn-primary btn-lg d-block mx-auto">Join now</button>
        

            </div>
            
        </div>
          
      </main>

      <footer class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
            <h3>ClientBook</h3>
            <p>Copyright &copy ClientBook 2022. All rights reserved.</p>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Business</a></li>
              <li><a class="text-muted" href="#">Education</a></li>
              <li><a class="text-muted" href="#">Government</a></li>
              <li><a class="text-muted" href="#">Gaming</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>

        <div>
          <h3>ClientBook</h3>
          <p>Copyright &copy ClientBook 2022. All rights reserved.</p>
        </div>
      </footer>


    
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>