<%- include('./partials/head') -%>

<body class="d-flex flex-column ">
    
    <nav class="navbar navbar-light bg-white">
        <div class="container d-flex justify-content-between">
          <a class="navbar-brand fw-bold" href="#">
            
            ClientBook
          </a>
          <div class="d-flex">
            <span class="nav-item">
                <a class="nav-link link-secondary" href="./users/login.ejs">Log in</a>
              </span>
              <span class="nav-item">
                <a class="btn btn-primary ms-4" href="./users/register.ejs">Try for free</a>
              </span>
          </div>
        </div>
      </nav>


      <header style="min-height: 40vh; background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
          <div class="container py-5 border border-warning h-100">
            <div class="row gx-5 d-flex justify-content-between w-100 border border-primary mx-auto pt-5">

                <div class="col-lg-6 mb-5 pe-3 border border-danger h-100" style="max-width: 600px;">
                    <h1 class="mb-4 fw-bold" style="font-size: 2.5rem">The CRM that wants you to use it less</h1>
                    <p class="fs-5">Easily manage all your client information so you can spend less time on administraiton and more time delivering quality advice. </p>
                    <button class="btn btn-primary btn-lg">Try for free</button>            
                </div>
                <div class="col-lg-6">
                    <img class="d-block" style="max-width: 28rem;" src="/images/dashboard placeholder.png" alt="">
                </div>
                  
              </div>
          </div>
        
      </header>
      <main>
        <div class="container p-5 border border-primary">

          
            <div class="row">
                
                <div class="col-lg-6">
                    <h1 class="mb-4 fw-bold" style="font-size: 2.5rem">The CRM that wants you to use it less</h1>
                    <p class="fs-5">Easily manage all your client information so you can spend less time on administraiton and more time delivering quality advice. </p>
                </div>
                <div class="col-lg-6">
                    <img class="d-block" style="max-width: 28rem;" src="/images/dashboard placeholder.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="container border border-primary p-5" style="">

            <h1 class="text-center pb-4">Demo Video</h1>
            <img class="d-block m-auto" style="max-width: 28rem;" src="/images/dashboard placeholder.png" alt="">
            
        </div>

        <div class="container border border-primary p-5" style="">

            
            <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                      <img class="w-50 card-img-top" src="https://quickbooks.intuit.com/oidam/intuit/sa/en_us/quickbooks/illustration/utility/mobile-app-illo-utility-sbseg.svg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <img class="w-50 card-img-top" src="https://quickbooks.intuit.com/oidam/intuit/sa/en_us/quickbooks/illustration/utility/reports-illo-utility-sbseg.svg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <img class="w-50 card-img-top" src="https://quickbooks.intuit.com/oidam/intuit/sa/en_us/quickbooks/illustration/utility/custom-invoice-illo-utility-sbseg.svg" alt="">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                       
                      </div>
                    </div>
                  </div>
              </div>
            
        </div>
        <div class="container p-5">

            <h1 class="text-center my-5">Join 1,000 global businesses using ClientBook now </h1>
            <button class="btn btn-primary btn-lg d-block mx-auto">Join now</button>
        

            </div>
            
        </div>
          
      </main>

    
</body>

<%- include('./partials/footer') -%>