<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Clientbook" />

    <meta property="og:image" content="/images/dashboard-desktop.webp" />
    <title>Clientbook</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicons/favicon-16x16.png"
    />
    <script
      src="https://kit.fontawesome.com/c4176e51a3.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/c4176e51a3.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>

  <body class="d-flex flex-column">
    <nav class="navbar navbar-dark shadow-sm">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="/images/logo.svg" class="me-2" alt="" /><span
            class="fs-md-3 fs-xs-4"
            >Clientbook</span
          >
        </a>

        <div class="d-flex navbar-item">
          <% if(!currentUser){ %>
          <span class="nav-item">
            <a class="nav-link link-light" href="/login">Log in</a>
          </span>
          <span class="nav-item">
            <a class="btn btn-primary ms-1" href="/register">Try for free</a>
          </span>
          <% } else { %>
          <span class="nav-item">
            <a class="nav-link link-light" href="/logout">Log out</a>
          </span>
          <span class="nav-item">
            <a class="btn btn-primary ms-4" href="/dashboard">Dashboard</a>
          </span>

          <% } %>
        </div>
      </div>
    </nav>

    <header class="my-5">
      <div class="container h-100">
        <div class="row d-flex justify-content-between mb-2">
          <div
            class="col-xl-6 col-10 offset-xl-0 offset-1 text-center text-xl-start mb-3"
          >
            <h1 class="mb-3 display-3">
              <div class="text-nowrap">Less management,</div>
              <div class="text-nowrap">more relationships.</div>
            </h1>
            <p class="fs-5 mb-4 pe-xl-5">
              Easily manage all your client information so you can spend less
              time on administraiton and more time delivering quality service.
            </p>
            <a class="btn btn-primary btn-lg" href="/register">Try for free</a>
          </div>
          <div class="col-xl-6 offset-xl-0 col-xs-10 offset-xs-1 p-4">
            <div class="img-container mx-auto">
              <img
                class="img--desktop"
                src="/images/dashboard-desktop.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="">
        <div class="container mb-3">
          <div class="row text-center">
            <div
              class="col-lg-3 col-6 d-flex align-items-center justify-content-center p-2"
            >
              <svg
                width="60px"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 378.08 301.28"
              >
                <defs>
                  <linearGradient
                    id="a"
                    x1="361.03"
                    y1="633.85"
                    x2="691.41"
                    y2="371.6"
                    gradientTransform="matrix(1, 0, 0, -1, 0, 1026)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#9013fe" />
                    <stop offset="1" stop-color="#6610f2" />
                  </linearGradient>
                  <linearGradient
                    id="b"
                    x1="462.63"
                    y1="581.7"
                    x2="536.48"
                    y2="456.81"
                    gradientTransform="matrix(1, 0, 0, -1, 0, 1026)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#fff" />
                    <stop offset="1" stop-color="#f1e5fc" />
                  </linearGradient>
                </defs>
                <title>BootStrap logo</title>
                <path
                  d="M364.67,400.73c-.71-20.48,15.25-39.37,36.82-39.37H622.54c21.57,0,37.53,18.89,36.82,39.37-.69,19.68.2,45.17,6.62,65.95s17.29,34,35.06,35.72v19.2c-17.77,1.69-28.63,14.87-35.06,35.72s-7.3,46.27-6.62,66c.71,20.48-15.25,39.37-36.82,39.37H401.49c-21.57,0-37.53-18.89-36.82-39.37.68-19.68-.21-45.17-6.62-66s-17.31-34-35.09-35.72V502.4c17.77-1.69,28.65-14.87,35.09-35.72S365.35,420.41,364.67,400.73Z"
                  transform="translate(-322.96 -361.36)"
                  style="fill: url(#a)"
                />
                <path
                  d="M520.2,592.09c34.93,0,56-17.1,56-45.31,0-21.32-15-36.76-37.31-39.2v-.89c16.38-2.67,29.24-17.88,29.24-34.87,0-24.21-19.11-40-48.24-40H454.33V592.09ZM479.81,452.17h33.9c18.43,0,28.9,8.22,28.9,23.1,0,15.88-12.17,24.76-34.24,24.76H479.81Zm0,119.6V519h33.67c24.12,0,36.63,8.88,36.63,26.21S537.95,571.77,515,571.77Z"
                  transform="translate(-322.96 -361.36)"
                  style="stroke: #fff; fill: url(#b)"
                />
              </svg>
            </div>
            <div
              class="col-lg-3 col-6 p-2 d-flex align-items-center justify-content-center"
            >
              <svg
                width="100px"
                id="Layer_1"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 280 300"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill: #fff;
                    }
                    .cls-2 {
                      fill: #539e43;
                    }
                    .cls-3 {
                      fill: #333;
                    }
                    .cls-4 {
                      fill: url(#linear-gradient);
                    }
                    .cls-5 {
                      mask: url(#mask);
                    }
                    .cls-6 {
                      fill: none;
                    }
                    .cls-7 {
                      fill: url(#linear-gradient-2);
                    }
                    .cls-8 {
                      mask: url(#mask-2);
                    }
                    .cls-10,
                    .cls-11,
                    .cls-12,
                    .cls-13,
                    .cls-9 {
                      fill-rule: evenodd;
                    }
                    .cls-9 {
                      fill: url(#linear-gradient-3);
                    }
                    .cls-10 {
                      fill: url(#linear-gradient-4);
                    }
                    .cls-11 {
                      fill: url(#linear-gradient-5);
                    }
                    .cls-12 {
                      fill: url(#linear-gradient-6);
                    }
                    .cls-13 {
                      fill: url(#linear-gradient-7);
                    }
                  </style>
                  <linearGradient
                    id="linear-gradient"
                    x1="0.86"
                    y1="300.59"
                    x2="0.69"
                    y2="300.29"
                    gradientTransform="matrix(108.99, 0, 0, -124.19, 26.54, 37452.56)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0" stop-color="#41873f" />
                    <stop offset="0.33" stop-color="#418b3d" />
                    <stop offset="0.64" stop-color="#419637" />
                    <stop offset="0.93" stop-color="#3fa92d" />
                    <stop offset="1" stop-color="#3fae2a" />
                  </linearGradient>
                  <mask
                    id="mask"
                    x="88.74"
                    y="114.23"
                    width="46.2"
                    height="52.33"
                    maskUnits="userSpaceOnUse"
                  >
                    <g id="mask-3">
                      <path
                        id="path-2"
                        class="cls-1"
                        d="M113.11,114.57a2.49,2.49,0,0,0-2.48,0L90.15,126.39a2.43,2.43,0,0,0-1.22,2.14v23.68a2.52,2.52,0,0,0,1.22,2.14l20.48,11.82a2.49,2.49,0,0,0,2.48,0l20.47-11.82a2.42,2.42,0,0,0,1.22-2.14V128.53a2.53,2.53,0,0,0-1.22-2.14l-20.47-11.82Z"
                      />
                    </g>
                  </mask>
                  <linearGradient
                    id="linear-gradient-2"
                    x1="0.74"
                    y1="300.43"
                    x2="1.23"
                    y2="300.74"
                    gradientTransform="matrix(106.45, 0, 0, -124.13, 30.13, 37436.71)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.14" stop-color="#41873f" />
                    <stop offset="0.4" stop-color="#54a044" />
                    <stop offset="0.71" stop-color="#66b848" />
                    <stop offset="0.91" stop-color="#6cc04a" />
                  </linearGradient>
                  <mask
                    id="mask-2"
                    x="88.74"
                    y="110.24"
                    width="46.83"
                    height="56.95"
                    maskUnits="userSpaceOnUse"
                  >
                    <g id="mask-3-2" data-name="mask-3">
                      <path
                        id="path-2-2"
                        data-name="path-2"
                        class="cls-1"
                        d="M113.11,114.57a2.49,2.49,0,0,0-2.48,0L90.15,126.39a2.43,2.43,0,0,0-1.22,2.14v23.68a2.52,2.52,0,0,0,1.22,2.14l20.48,11.82a2.49,2.49,0,0,0,2.48,0l20.47-11.82a2.42,2.42,0,0,0,1.22-2.14V128.53a2.53,2.53,0,0,0-1.22-2.14l-20.47-11.82Z"
                      />
                    </g>
                  </mask>
                  <linearGradient
                    id="linear-gradient-3"
                    x1="-98.81"
                    y1="164.72"
                    x2="-57.82"
                    y2="164.72"
                    gradientTransform="matrix(0.92, 0, 0, -0.35, 183.84, 167.43)"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.09" stop-color="#6cc04a" />
                    <stop offset="0.29" stop-color="#66b848" />
                    <stop offset="0.6" stop-color="#54a044" />
                    <stop offset="0.86" stop-color="#41873f" />
                  </linearGradient>
                  <linearGradient
                    id="linear-gradient-4"
                    x1="0.53"
                    y1="300.45"
                    x2="0.97"
                    y2="300.45"
                    gradientTransform="matrix(106.33, 0, 0, -124.23, 32.09, 37466.8)"
                    xlink:href="#linear-gradient-3"
                  />
                  <linearGradient
                    id="linear-gradient-5"
                    x1="-358.84"
                    y1="316.45"
                    x2="-317.84"
                    y2="316.45"
                    gradientTransform="matrix(0.35, 0, 0, -0.81, 245.67, 409.91)"
                    xlink:href="#linear-gradient-3"
                  />
                  <linearGradient
                    id="linear-gradient-6"
                    x1="-0.87"
                    y1="301.12"
                    x2="-0.01"
                    y2="301.12"
                    gradientTransform="matrix(55.01, 0, 0, -34.33, 135.88, 10496.19)"
                    xlink:href="#linear-gradient-3"
                  />
                  <linearGradient
                    id="linear-gradient-7"
                    x1="0.12"
                    y1="302.22"
                    x2="-0.41"
                    y2="300.48"
                    gradientTransform="matrix(55.01, 0, 0, -34.33, 135.88, 10496.19)"
                    xlink:href="#linear-gradient"
                  />
                </defs>
                <path
                  class="cls-2"
                  d="M138.83,215.87a4.25,4.25,0,0,1-2-.53l-6.47-3.84c-1-.54-.48-.73-.19-.83a12,12,0,0,0,2.92-1.31.43.43,0,0,1,.48,0l5,3a.62.62,0,0,0,.59,0l19.4-11.23a.55.55,0,0,0,.29-.54V178.18a.55.55,0,0,0-.29-.53l-19.4-11.19a.68.68,0,0,0-.59,0l-19.4,11.19a.6.6,0,0,0-.29.53V200.6a.6.6,0,0,0,.29.54l5.3,3.06c2.87,1.46,4.67-.24,4.67-1.94V180.13a.59.59,0,0,1,.58-.58h2.48a.59.59,0,0,1,.58.58v22.13c0,3.84-2.09,6.08-5.73,6.08-1.12,0-2,0-4.48-1.22l-5.1-2.92a4.1,4.1,0,0,1-2-3.55V178.23a4.1,4.1,0,0,1,2-3.55l19.4-11.23a4.36,4.36,0,0,1,4.09,0l19.4,11.23a4.11,4.11,0,0,1,2,3.55v22.42a4.11,4.11,0,0,1-2,3.55l-19.4,11.24A5.06,5.06,0,0,1,138.83,215.87Zm6-15.41c-8.51,0-10.26-3.89-10.26-7.2a.6.6,0,0,1,.59-.58h2.53a.49.49,0,0,1,.53.48c.39,2.58,1.51,3.84,6.66,3.84,4.09,0,5.84-.92,5.84-3.11,0-1.26-.49-2.19-6.86-2.82-5.3-.53-8.61-1.7-8.61-5.93,0-3.94,3.31-6.28,8.86-6.28,6.22,0,9.28,2.14,9.67,6.81a.84.84,0,0,1-.14.44.62.62,0,0,1-.39.2H150.7a.59.59,0,0,1-.54-.44c-.58-2.68-2.09-3.55-6.07-3.55-4.48,0-5,1.55-5,2.72,0,1.41.63,1.85,6.66,2.63s8.8,1.89,8.8,6.08S151,200.46,144.81,200.46Z"
                />
                <path
                  class="cls-3"
                  d="M78.62,128.19a2.46,2.46,0,0,0-1.26-2.14L56.74,114.18a3.1,3.1,0,0,0-1.12-.34h-.19a2.36,2.36,0,0,0-1.12.34L33.69,126.05a2.47,2.47,0,0,0-1.27,2.14l0,31.9a1.2,1.2,0,0,0,.63,1.07,1.12,1.12,0,0,0,1.22,0l12.25-7A2.49,2.49,0,0,0,47.84,152V137.09A2.46,2.46,0,0,1,49.1,135l5.21-3a2.37,2.37,0,0,1,1.26-.34,2.12,2.12,0,0,1,1.22.34l5.2,3a2.47,2.47,0,0,1,1.27,2.14V152a2.48,2.48,0,0,0,1.26,2.14l12.26,7a1.26,1.26,0,0,0,1.89-1.07l0-31.9Z"
                />
                <path
                  class="cls-3"
                  d="M177.74,84.27a1.38,1.38,0,0,0-1.22,0,1.28,1.28,0,0,0-.63,1.07V117a.88.88,0,0,1-1.31.78l-5.16-3a2.55,2.55,0,0,0-2.48,0l-20.62,11.92a2.46,2.46,0,0,0-1.26,2.14V152.6a2.46,2.46,0,0,0,1.26,2.14l20.62,11.92a2.55,2.55,0,0,0,2.48,0L190,154.74a2.47,2.47,0,0,0,1.27-2.14V93.32A2.49,2.49,0,0,0,190,91.13l-12.3-6.86Zm-1.9,60.5a.55.55,0,0,1-.29.54l-7.05,4.08a.7.7,0,0,1-.63,0l-7.05-4.08a.61.61,0,0,1-.3-.54V136.6a.54.54,0,0,1,.3-.53l7.05-4.09a.7.7,0,0,1,.63,0l7.05,4.09a.59.59,0,0,1,.29.53v8.17Z"
                />
                <path
                  class="cls-3"
                  d="M246.36,136.41a2.44,2.44,0,0,0,1.22-2.14v-5.79a2.53,2.53,0,0,0-1.22-2.14l-20.47-11.87a2.55,2.55,0,0,0-2.48,0l-20.62,11.92a2.47,2.47,0,0,0-1.27,2.14v23.78a2.47,2.47,0,0,0,1.27,2.14l20.47,11.67a2.4,2.4,0,0,0,2.43,0l12.4-6.9a1.23,1.23,0,0,0,.64-1.07,1.21,1.21,0,0,0-.64-1.07l-20.71-11.92a1.27,1.27,0,0,1-.64-1.07v-7.44a1.21,1.21,0,0,1,.64-1.07l6.47-3.7a1.19,1.19,0,0,1,1.26,0l6.47,3.7a1.26,1.26,0,0,1,.63,1.07v5.84a1.27,1.27,0,0,0,1.9,1.07l12.25-7.15Z"
                />
                <path
                  class="cls-2"
                  d="M224.33,135.29a.44.44,0,0,1,.49,0l3.94,2.28a.54.54,0,0,1,.24.44v4.57a.52.52,0,0,1-.24.44l-3.94,2.29a.48.48,0,0,1-.49,0L220.39,143a.52.52,0,0,1-.24-.44V138a.54.54,0,0,1,.24-.44l3.94-2.28Z"
                />
                <path
                  id="path-2-3"
                  data-name="path-2"
                  class="cls-4"
                  d="M113.11,114.57a2.49,2.49,0,0,0-2.48,0L90.15,126.39a2.43,2.43,0,0,0-1.22,2.14v23.68a2.52,2.52,0,0,0,1.22,2.14l20.48,11.82a2.49,2.49,0,0,0,2.48,0l20.47-11.82a2.42,2.42,0,0,0,1.22-2.14V128.53a2.53,2.53,0,0,0-1.22-2.14l-20.47-11.82Z"
                />
                <g class="cls-5">
                  <path
                    class="cls-6"
                    d="M110.58,114.57,90.05,126.39a2.51,2.51,0,0,0-1.31,2.14v23.68a2.34,2.34,0,0,0,.63,1.56l23-39.49a2.74,2.74,0,0,0-1.84.29Z"
                  />
                  <path
                    class="cls-6"
                    d="M112.57,166.41a2.38,2.38,0,0,0,.58-.24l20.53-11.82a2.45,2.45,0,0,0,1.26-2.14V128.53a2.45,2.45,0,0,0-.73-1.7l-21.64,39.58Z"
                  />
                  <path
                    class="cls-7"
                    d="M133.63,126.39l-20.57-11.82a3.33,3.33,0,0,0-.64-.24l-23,39.49a2.63,2.63,0,0,0,.68.58l20.58,11.82a2.33,2.33,0,0,0,1.89.24l21.64-39.59a2.43,2.43,0,0,0-.53-.48Z"
                  />
                </g>
                <g class="cls-8">
                  <path
                    class="cls-6"
                    d="M134.94,152.21V128.53a2.51,2.51,0,0,0-1.31-2.14l-20.57-11.82a2.16,2.16,0,0,0-.78-.29l22.52,38.47a1.06,1.06,0,0,0,.14-.54Z"
                  />
                  <path
                    class="cls-6"
                    d="M90.05,126.39a2.51,2.51,0,0,0-1.31,2.14v23.68a2.61,2.61,0,0,0,1.31,2.14l20.58,11.82a2.27,2.27,0,0,0,1.6.29l-22-40.12-.15,0Z"
                  />
                  <path class="cls-9" d="M109.94,110.24l-.29.15H110Z" />
                  <path
                    class="cls-10"
                    d="M133.68,154.35a2.74,2.74,0,0,0,1.21-1.55l-22.56-38.52a2.45,2.45,0,0,0-1.75.29L90.15,126.34l22,40.17a3.43,3.43,0,0,0,.93-.29l20.57-11.87Z"
                  />
                  <path class="cls-11" d="M135.57,154l-.14-.24v.34Z" />
                  <path
                    class="cls-12"
                    d="M133.68,154.35l-20.53,11.82a2.83,2.83,0,0,1-.92.29l.39.73L135.38,154v-.29l-.58-1a2.27,2.27,0,0,1-1.12,1.6Z"
                  />
                  <path
                    class="cls-13"
                    d="M133.68,154.35l-20.53,11.82a2.83,2.83,0,0,1-.92.29l.39.73L135.38,154v-.29l-.58-1a2.27,2.27,0,0,1-1.12,1.6Z"
                  />
                </g>
              </svg>
            </div>
            <div
              class="col-lg-3 col-6 p-2 align-middle d-flex align-items-center justify-content-center"
            >
              <svg
                width="100px"
                viewBox="0 -183 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g fill="none" fill-rule="evenodd">
                  <path
                    d="M476.713 60.463c-.46.092-.922 1.107-.922 1.66-.092 3.692-.184 13.474-.184 20.118 0 .185.276.554.553.554 1.384.092 4.706.184 7.567.184 3.968 0 6.275-.553 7.568-1.106 3.321-1.662 4.89-5.261 4.89-9.23 0-8.95-6.275-12.365-15.596-12.365-.646-.092-2.49-.092-3.876.185zm23.81 41.25c0-9.136-6.737-14.212-18.918-14.212-.554 0-4.43-.092-5.353.092-.277.093-.645.278-.645.555 0 6.551-.093 16.98.184 21.04.184 1.753 1.477 4.245 3.046 4.983 1.66.923 5.444 1.107 8.028 1.107 7.29 0 13.658-4.06 13.658-13.565zm-42.634-46.325c.922 0 3.69.276 10.796.276 6.737 0 12.089-.184 18.641-.184 8.028 0 19.102 2.86 19.102 14.857 0 5.906-4.153 10.613-9.597 12.92-.276.092-.276.276 0 .368 7.751 1.939 14.581 6.737 14.581 15.78 0 8.86-5.537 14.489-13.566 17.996-4.891 2.122-10.981 2.86-17.164 2.86-4.707 0-17.349-.553-24.362-.368-.738-.278.646-3.6 1.291-4.153 1.662-.093 2.953-.185 4.707-.739 2.492-.645 2.768-1.384 3.137-5.167.185-3.23.185-14.674.185-22.794 0-11.166.093-18.733 0-22.424-.092-2.86-1.107-3.784-3.137-4.338-1.57-.276-4.153-.646-6.276-.922-.462-.462 1.107-3.6 1.662-3.968zm-53.248 57.399c2.216 1.752 6.553 2.49 10.429 2.49 4.983 0 9.966-.921 14.765-5.26 4.891-4.428 8.305-11.257 8.305-22.146 0-10.429-3.968-18.919-12.089-23.901-4.614-2.862-10.52-4.06-17.349-4.06-2.03 0-3.968.092-5.167.645-.278.185-.923 1.015-.923 1.476-.185 1.846-.185 16.057-.185 24.363 0 8.582 0 20.579.185 21.963 0 1.385.645 3.507 2.03 4.43zm-20.948-57.4c1.754 0 8.49.277 11.72.277 5.815 0 9.967-.276 20.948-.276 9.228 0 16.98 2.491 22.517 7.197 6.736 5.814 10.244 13.843 10.244 23.624 0 13.935-6.368 21.964-12.736 26.578-6.366 4.706-14.672 7.474-26.484 7.474-6.275 0-17.072-.184-26.024-.277h-.092c-.461-.83.738-4.06 1.476-4.152 2.4-.277 3.046-.37 4.246-.83 1.937-.739 2.307-1.754 2.584-5.168.276-6.368.184-14.027.184-22.702 0-6.182.092-18.272-.093-22.148-.276-3.229-1.66-4.06-4.429-4.614-1.384-.276-3.23-.646-5.813-.922-.37-.647 1.291-3.507 1.752-4.06z"
                    fill="#8E714E"
                  />
                  <path
                    d="M272.033 116.385c-2.307-.277-3.968-.645-5.998-1.568-.277-.185-.739-1.107-.739-1.477-.184-3.23-.184-12.458-.184-18.64 0-4.984-.83-9.321-2.953-12.366-2.492-3.508-6.09-5.537-10.705-5.537-4.06 0-9.505 2.768-14.027 6.644-.092.092-.83.739-.738-.277 0-1.015.185-3.045.277-4.43.093-1.292-.646-1.937-.646-1.937-2.953 1.476-11.258 3.414-14.304 3.69-2.214.463-2.768 2.585-.46 3.323h.092c2.49.738 4.152 1.569 5.443 2.4.923.738.831 1.753.831 2.584.092 6.92.092 17.533-.184 23.347-.092 2.307-.738 3.137-2.4 3.506l.185-.092c-1.292.277-2.307.553-3.876.738-.554.554-.554 3.507 0 4.153 1.015 0 6.367-.277 10.798-.277 6.09 0 9.228.277 10.796.277.646-.738.831-3.507.462-4.153-1.754-.092-3.046-.276-4.245-.646-1.661-.37-2.123-1.199-2.216-3.137-.183-4.892-.183-15.227-.183-22.24 0-1.938.553-2.861 1.106-3.415 2.123-1.845 5.538-3.137 8.583-3.137 2.953 0 4.89.923 6.367 2.123 2.03 1.66 2.676 4.06 2.953 5.813.461 3.968.277 11.812.277 18.641 0 3.691-.277 4.614-1.66 5.075-.647.277-2.308.647-4.246.83-.646.647-.461 3.508 0 4.154 2.676 0 5.814-.277 10.428-.277 5.721 0 9.413.277 10.89.277.46-.554.645-3.23.276-3.969zm25.562-35.25c-4.89 0-7.936 3.783-7.936 9.688 0 5.999 2.676 12.92 10.243 12.92 1.292 0 3.692-.554 4.798-1.846 1.754-1.66 2.954-4.983 2.954-8.49 0-7.659-3.784-12.273-10.059-12.273zm-.646 40.787c-1.845 0-3.138.554-3.968 1.016-3.876 2.49-5.629 4.89-5.629 7.752 0 2.675 1.015 4.797 3.23 6.643 2.676 2.307 6.367 3.415 11.073 3.415 9.413 0 13.566-5.076 13.566-10.058 0-3.508-1.754-5.815-5.352-7.106-2.584-1.108-7.29-1.662-12.92-1.662zm.646 23.994c-5.629 0-9.69-1.2-13.196-3.876-3.415-2.584-4.891-6.46-4.891-9.136 0-.738.185-2.769 1.846-4.614 1.014-1.108 3.23-3.23 8.49-6.829.184-.092.276-.184.276-.37 0-.184-.185-.369-.369-.46-4.337-1.661-5.629-4.338-5.999-5.814v-.185c-.091-.554-.276-1.107.555-1.661.646-.461 1.569-1.015 2.583-1.66 1.569-.924 3.23-1.939 4.245-2.77.185-.184.185-.368.185-.553 0-.185-.185-.37-.37-.461-6.458-2.123-9.688-6.922-9.688-14.12 0-4.706 2.122-8.951 5.905-11.627 2.584-2.03 9.044-4.522 13.289-4.522h.277c4.337.092 6.736 1.015 10.15 2.215 1.846.646 3.6.922 6 .922 3.598 0 5.167-1.107 6.458-2.398.093.184.278.646.37 1.845.092 1.2-.277 2.953-1.2 4.245-.738 1.015-2.399 1.754-4.06 1.754h-.462c-1.661-.185-2.4-.37-2.4-.37l-.368.185c-.092.185 0 .369.092.646l.093.185c.184.83.553 3.321.553 3.968 0 7.567-3.045 10.888-6.275 13.38-3.138 2.307-6.736 3.783-10.797 4.153-.092 0-.46 0-1.292.092-.461 0-1.107.093-1.2.093h-.092c-.738.184-2.583 1.107-2.583 2.675 0 1.384.83 3.046 4.798 3.323.83.092 1.66.092 2.584.185 5.26.368 11.812.83 14.857 1.845 4.245 1.568 6.921 5.352 6.921 9.874 0 6.83-4.89 13.197-13.011 17.164-3.968 1.754-7.937 2.677-12.274 2.677zm52.6-64.32c-1.937 0-3.691.46-4.983 1.383-3.598 2.215-5.444 6.645-5.444 13.104 0 12.09 6.09 20.58 14.765 20.58 2.584 0 4.614-.739 6.367-2.215 2.676-2.216 4.061-6.645 4.061-12.828 0-11.996-5.999-20.025-14.765-20.025zm1.662 39.496c-15.688 0-21.317-11.535-21.317-22.332 0-7.567 3.045-13.381 9.135-17.534 4.338-2.676 9.506-4.152 14.12-4.152 11.996 0 20.394 8.582 20.394 20.948 0 8.397-3.322 15.041-9.69 19.102-3.045 2.03-8.305 3.968-12.643 3.968h.001zM187.411 81.595c-1.938 0-3.691.461-4.984 1.384-3.598 2.215-5.444 6.645-5.444 13.104 0 12.09 6.09 20.58 14.765 20.58 2.584 0 4.614-.739 6.368-2.215 2.675-2.216 4.06-6.645 4.06-12.828 0-11.996-5.906-20.025-14.765-20.025zm1.661 39.497c-15.688 0-21.317-11.535-21.317-22.332 0-7.567 3.045-13.381 9.135-17.534 4.338-2.676 9.506-4.152 14.12-4.152 11.997 0 20.394 8.582 20.394 20.948 0 8.397-3.322 15.041-9.69 19.102-2.953 2.03-8.213 3.968-12.642 3.968zm-105.478-.923c-.185-.276-.37-1.107-.277-2.122 0-.739.185-1.2.277-1.384 1.938-.278 2.953-.555 4.06-.831 1.846-.462 2.584-1.476 2.676-3.783.278-5.537.278-16.058.185-23.348v-.185c0-.83 0-1.846-1.015-2.584-1.477-.922-3.23-1.752-5.537-2.4-.83-.275-1.384-.737-1.292-1.29 0-.554.554-1.2 1.754-1.385 3.045-.277 10.98-2.214 14.118-3.599.185.184.462.739.462 1.477l-.092 1.014c-.093 1.016-.185 2.216-.185 3.415 0 .369.37.646.738.646.185 0 .37-.092.554-.185 5.906-4.614 11.258-6.275 14.026-6.275 4.523 0 8.03 2.123 10.706 6.552.184.278.369.37.646.37.184 0 .46-.092.553-.277 5.445-4.153 10.89-6.645 14.488-6.645 8.582 0 13.658 6.368 13.658 17.165 0 3.045 0 7.013-.092 10.613 0 3.229-.092 6.182-.092 8.305 0 .46.645 1.937 1.66 2.214 1.292.646 3.046.923 5.353 1.292h.092c.185.646-.184 3.045-.553 3.507-.554 0-1.385 0-2.307-.092a136.208 136.208 0 0 0-7.014-.185c-5.721 0-8.674.092-11.536.277-.183-.738-.276-2.953 0-3.507 1.662-.276 2.492-.554 3.508-.83 1.846-.554 2.307-1.385 2.4-3.784 0-1.753.368-16.703-.186-20.302-.553-3.691-3.322-8.028-9.413-8.028-2.307 0-5.905.923-9.412 3.598-.184.185-.37.646-.37.923v.093c.37 1.937.37 4.153.37 7.567v5.998c0 4.153-.093 8.029 0 10.981 0 2.031 1.2 2.492 2.215 2.862.554.091.922.184 1.384.276.83.185 1.661.37 2.953.646.185.37.185 1.569-.092 2.584-.093.554-.278.83-.37.923-3.137-.092-6.367-.185-11.073-.185-1.384 0-3.784.093-5.814.093-1.662 0-3.23.092-4.152.092-.093-.185-.278-.83-.278-1.846 0-.83.185-1.476.37-1.661.461-.092.83-.184 1.292-.184 1.106-.185 2.03-.37 2.952-.554 1.57-.461 2.123-1.292 2.215-3.322.277-4.614.554-17.81-.092-21.133-1.107-5.352-4.152-8.028-9.044-8.028-2.86 0-6.46 1.384-9.412 3.6-.462.368-.831 1.29-.831 2.121v5.445c0 6.644 0 14.95.092 18.549.093 1.106.461 2.399 2.584 2.86.462.092 1.2.277 2.123.37l1.66.276c.186.554.093 2.769-.276 3.507-.923 0-2.03-.092-3.323-.092-1.937-.093-4.429-.185-7.197-.185-3.23 0-5.537.092-7.383.185-1.292-.185-2.307-.185-3.414-.185z"
                    fill="#442D22"
                  />
                  <path
                    d="M35.053 142.317l-3.783-1.293s.462-19.286-6.46-20.67c-4.613-5.353.74-227.013 17.35-.739 0 0-5.722 2.86-6.737 7.752-1.108 4.799-.37 14.95-.37 14.95z"
                    fill="#FFF"
                  />
                  <path
                    d="M35.053 142.317l-3.783-1.293s.462-19.286-6.46-20.67c-4.613-5.353.74-227.013 17.35-.739 0 0-5.722 2.86-6.737 7.752-1.108 4.799-.37 14.95-.37 14.95z"
                    fill="#A6A385"
                  />
                  <path
                    d="M37.084 123.676s33.13-21.779 25.377-67.09c-7.474-32.943-25.1-43.74-27.038-47.893C33.301 5.74 31.27.573 31.27.573l1.385 91.634c0 .093-2.861 28.054 4.43 31.47"
                    fill="#FFF"
                  />
                  <path
                    d="M37.084 123.676s33.13-21.779 25.377-67.09c-7.474-32.943-25.1-43.74-27.038-47.893C33.301 5.74 31.27.573 31.27.573l1.385 91.634c0 .093-2.861 28.054 4.43 31.47"
                    fill="#499D4A"
                  />
                  <path
                    d="M29.333 124.875S-1.767 103.65.079 66.277C1.832 28.903 23.795 10.539 28.04 7.217c2.769-2.953 2.861-4.061 3.046-7.014 1.938 4.153 1.569 62.106 1.845 68.934.83 26.3-1.476 50.756-3.598 55.738z"
                    fill="#FFF"
                  />
                  <path
                    d="M29.333 124.875S-1.767 103.65.079 66.277C1.832 28.903 23.795 10.539 28.04 7.217c2.769-2.953 2.861-4.061 3.046-7.014 1.938 4.153 1.569 62.106 1.845 68.934.83 26.3-1.476 50.756-3.598 55.738z"
                    fill="#58AA50"
                  />
                </g>
              </svg>
            </div>
            <div
              class="col-lg-3 col-6 p-2 align-middle d-flex align-items-center justify-content-center"
            >
              <svg
                width="100px"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 1000 1000"
                style="enable-background: new 0 0 1000 1000"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st0 {
                    fill: #010101;
                  }
                </style>
                <path
                  class="st0"
                  d="M310.5,611.4V393h11.8v34.4c1.4-1.5,2.7-3.1,3.9-4.8c9.9-20.5,30.8-33.5,53.5-33.2c27-0.8,49,9.2,61.9,33.2
                c16.7,30.3,17.6,66.8,2.6,97.9c-12,26.9-41.7,40.3-73.5,35.4c-20.1-1.7-38-13.5-47.4-31.3v86.9L310.5,611.4z M322.3,470.2l2.7,25.6
                c4.7,29.2,21.9,46.4,49,49.7c26.2,4.3,51.9-10.5,61.2-35.4c10.5-25.1,9.8-53.5-2.1-78.1c-9.9-22.2-33.4-35.2-57.5-31.8
                c-22.6,1.6-41.6,17.4-47.5,39.3C325.6,449.7,323.7,459.9,322.3,470.2L322.3,470.2z M696.7,499.9c-3.7,31.8-30.4,55.9-62.4,56.5
                c-49.7,2.5-73-30.5-76.7-68.6c-2.6-20.7,0.8-41.7,9.7-60.5c12.7-26.5,41.1-41.8,70.2-37.7c27.7,2.4,50.7,22.1,57.3,49.1
                c2.5,12,4.4,24.1,5.6,36.3H569.8c-2.4,34.5,16.1,62.3,42.4,69c32.7,8.1,60.7-6.1,70.9-37.3C685.4,498.8,689.5,497.7,696.7,499.9
                L696.7,499.9z M569.7,464h116.7c-0.7-36.8-23.6-63.5-54.7-63.8C596.7,399.7,571.2,425.3,569.7,464z M720.8,500.7h11.4
                c0.9,17.2,11.3,32.4,26.9,39.5c19.6,8.8,42.1,8.2,61.1-1.6c10.5-4.7,17-15.5,16.1-27c0.6-11.1-6.2-21.3-16.8-24.9
                c-12.6-4.7-26-7.3-38.8-11.4c-13.3-3.8-26.4-8.6-39-14.3c-20.7-10.1-21.9-49.4,1.5-61.8c24.3-13.7,54-14.2,78.7-1.2
                c15.1,8.3,23.5,25.2,21,42.3h-9.8c0-0.5-0.9-0.9-0.9-1.4c-1.2-31.3-27.5-41.1-55.7-38.3c-8.5,0.9-16.6,3.5-24.2,7.3
                c-9.3,4.3-15,14-14,24.2c0,10.2,6.5,19.3,16.1,22.7c12.3,4.5,25.4,7.4,38.1,11l30.8,8.1c14.3,4.7,24.3,17.8,25,32.8
                c2.5,16.5-6,32.8-20.9,40.3c-26.9,15.2-71.3,11.2-91.1-8.1C726.4,528.9,720.7,515,720.8,500.7L720.8,500.7z M993.6,440.3h-10.7
                c0-1.5-0.6-2.8-0.7-4c-0.4-16.6-12.3-30.6-28.6-33.7c-14.9-4.3-30.8-3.5-45.2,2.2c-11.7,3.4-19.8,14-19.9,26.2
                c-0.4,12,7.7,22.7,19.4,25.5l49,12.6c5.3,1.3,10.5,2.9,15.6,4.8c15.6,5.7,26.3,20.2,26.7,36.8c0.5,16.6-9.3,31.8-24.6,38.3
                c-23,10.5-49.4,10.7-72.6,0.7c-19.3-8.3-31.4-27.8-30.3-48.9h10.5c3.9,19,17,34.8,34.9,42.3c17.9,7.5,38.3,5.6,54.6-4.9
                c10-5.2,16-15.7,15.5-26.9c0.5-11.1-6.5-21.2-17-24.8c-12.6-4.7-26-7.2-38.8-11.4c-13.4-3.7-26.5-8.5-39.3-14.1
                c-20.2-9.9-21.8-48.9,1.2-61.3c24.7-14.3,55-14.7,80-0.9c14.4,8.6,22.3,24.8,20.2,41.4L993.6,440.3z M291,552.4
                c-8.7,3.3-18.6-0.4-22.9-8.7l-41.7-57.7l-6-8.1l-48.4,65.8c-4.1,7.9-13.4,11.6-21.8,8.5l62.3-83.6l-58-75.6c8.6-3.1,18.2,0.3,23,8.1
                l43.2,58.4l43.5-58.2c4.1-7.8,13.4-11.3,21.6-8.1l-22.5,29.9l-30.5,39.7c-3.3,3-3.6,8.1-0.6,11.4c0.2,0.2,0.4,0.4,0.6,0.6l58.1,77.5
                L291,552.4z M555.7,392.3v11.4c-32.2-2.1-60.1,22.3-62.2,54.5c-0.1,2-0.2,3.9-0.1,5.9c0,26.6,0,53.1,0,79.7v9h-11.5V393h11.4v32.7
                C507.2,401.9,528.7,393,555.7,392.3L555.7,392.3z M0.9,467.7l5.1-25.1c14-49.6,70.8-70.2,109.9-39.5c22.9,18,28.6,43.5,27.5,72.2
                H14.3c-2.1,51.3,34.9,82.3,82.3,66.5c15.6-5.7,27.3-18.7,31.2-34.8c2.5-8.1,6.6-9.4,14.2-7.1c-2.6,19.9-14.1,37.5-31.3,47.8
                c-28.8,15.7-64.4,11.2-88.3-11.3c-11.5-13-18.5-29.3-19.8-46.6c0-2.8-0.9-5.5-1.6-8.1C0.9,476.9,0.8,472.2,0.9,467.7L0.9,467.7z
                M14.5,464.2h116.7c-0.7-37.2-24.2-63.6-55.5-63.8c-34.8-0.5-59.8,25.3-61.3,63.6L14.5,464.2z"
                />
              </svg>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light py-5 px-2">
        <div
          class="row d-flex justify-content-between align-items-center w-100 mx-auto p-2 container"
        >
          <div class="col-xl-6 offset-xl-0 col-lg-8 offset-lg-2 order-2">
            <div class="img-container">
              <img
                class="img--desktop"
                src="/images/client-view-dashboard.png"
                alt=""
              />
            </div>
          </div>
          <div
            class="col-xl-5 col-lg-12 order-xl-2 order-1 text-center text-xl-start"
          >
            <h6 class="text-primary mb-4">Built for business</h6>
            <h2 class="mb-4 fs-1">All your clients in one place</h2>
            <p class="fs-5 mb-4 pb-4 text-muted">
              For busy businesses, Clientbook makes it simple to establish new
              clients and view or edit their information in an instant.
            </p>
          </div>
        </div>
      </section>

      <section class="py-5 px-2">
        <div
          class="row d-flex justify-content-between align-items-center w-100 mx-auto p-2 container"
        >
          <div
            class="col-xl-6 offset-xl-0 col-lg-8 offset-lg-2 order-xl-1 order-2"
          >
            <div class="img-container">
              <img
                class="img--desktop"
                src="/images/dashboard-desktop.png"
                alt=""
              />
              <img
                class="img--mobile"
                src="/images/dashboard-mobile-1.png"
                alt=""
              />
            </div>
          </div>
          <div class="col-xl-5 col-lg-12 text-center text-xl-start">
            <h6 class="text-primary mb-4">Mobile friendly</h6>
            <h2 class="mb-4 fs-1">Adapts to your business</h2>
            <p class="fs-5 mb-4 pb-4 text-muted">
              Clientbook is responsive and adapts to how you like to get work
              done. Create client notes, manage tasks and get work done on the
              go.
            </p>
          </div>
        </div>
      </section>
      <section class="bg-light">
        <div class="container px-4 py-5" style="min-height: 30rem">
          <h6 class="text-primary mb-4">Why Clientbook</h6>
          <h3 class="mb-5">Software that makes managing your clients easy</h3>
          <div class="row justify-content-center">
            <div class="col-lg-3 col-6 mb-3">
              <div class="">
                <div class="">
                  <i class="text-primary fal fa-address-card fs-2 mb-3"></i>
                  <h5 class="fs-6">Build your book</h5>
                  <p class="text-muted fs-6">
                    Add clients and keep their key information available with an
                    easy-to-use interface
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6 mb-3">
              <div class="">
                <div class="">
                  <i class="text-success fal fa-briefcase fs-2 mb-3"></i>
                  <h5 class="fs-6">Manage jobs</h5>
                  <p class="text-muted fs-6">
                    Keep on top of the work you're doing for clients and add
                    updates as you progress
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6 mb-3">
              <div class="">
                <div class="">
                  <i class="text-warning fal fa-note-sticky fs-2 mb-3"></i>
                  <h5 class="fs-6">Add Notes</h5>
                  <p class="text-muted fs-6">
                    Track client interations with notes to ensure you don't miss
                    a thing
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6 mb-3">
              <div class="">
                <div class="">
                  <i
                    class="text-purple fal fa-analytics fs-2 mb-3"
                    style="color: #7231db"
                  ></i>
                  <h5 class="fs-6">Track progress</h5>
                  <p class="text-muted fs-6">
                    Track all your key metrics with a easy to understand
                    dashboard
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container p-4">
        <h1 class="text-center my-4">
          Join the <span class="text-primary">thousands</span> of businesses
          using Clientbook now
        </h1>
        <div class="row d-flex justify-content-center mb-5">
          <div
            style="max-width: 300px"
            class="review-shadow rounded p-4 m-3 text-center d-flex flex-column align-items-center justify-content-between"
          >
            <div class="">
              <h5>"The best CRM I've ever made."</h5>
              <p class="text-muted mb-3">
                Of all the fullstack client relationship managers I've built,
                this is certainly the first.
              </p>
            </div>
            <div class="">
              <img
                src="/images/me_profile.webp"
                alt="..."
                class="rounded-circle mb-2 ms-auto border border-primary"
                style="width: 60px"
              />
              <h6 class="mb-0">Brad Meyn</h6>
              <p class="text-muted mb-22">Developer</p>
              <div class="text-primary">
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
              </div>
            </div>
          </div>

          <div
            style="max-width: 300px"
            class="review-shadow rounded p-4 m-3 text-center d-flex flex-column align-items-center justify-content-between"
          >
            <div class="">
              <h5>"Looks good"</h5>
              <p class="text-muted mb-3">
                I don't know, seems pretty good. What are we going to have for
                dinner tonight?
              </p>
            </div>
            <div class="">
              <img
                src="/images/emily_profile.webp"
                alt="..."
                class="rounded-circle mb-2 ms-auto border border-primary"
                style="width: 60px"
              />
              <h6 class="mb-0">Emily Elizabeth</h6>
              <p class="text-muted mb-22">Supportive Partner</p>
              <div class="text-primary">
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
                <i class="fa-solid fa-star-sharp text-warning"></i>
              </div>
            </div>
          </div>

          <div
            style="max-width: 300px"
            class="review-shadow rounded p-4 m-3 text-center d-flex flex-column align-items-center justify-content-between"
          >
            <div class="">
              <h5>"I've got more time for playing ball"</h5>
              <p class="text-muted mb-3">
                Dad finishing this project means he has more time for walks and
                playing ball!
              </p>
            </div>
            <div class="">
              <img
                src="/images/charlie_profile.webp"
                alt="..."
                class="rounded-circle mb-2 ms-auto border border-primary"
                style="width: 60px"
              />
              <h6 class="mb-0">Charlie D. ogg</h6>
              <p class="text-muted mb-22">Good Boy</p>
              <div class="text-primary">
                <i class="fa-solid fa-bone text-warning"></i>
                <i class="fa-solid fa-bone text-warning"></i>
                <i class="fa-solid fa-bone text-warning"></i>
                <i class="fa-solid fa-bone text-warning"></i>
                <i class="fa-solid fa-bone text-warning"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-primary btn-lg mb-3 mx-auto" href="/register"
            >Join now</a
          >
        </div>
      </section>
    </main>

    <footer class="position-relative p-4 bg-light">
      <div class="container p-3">
        <div class="row d-flex justify-content-around">
          <div class="col-sm-4 mb-3">
            <h6 class="mb-2 fs-5 d-flex align-items-center">
              <img
                src="/images/logo.svg"
                class="me-2"
                style="width: 25px"
                alt=""
              /><span>Clientbook</span>
            </h6>
          </div>

          <div class="col-6 col-sm-4">
            <h5 class="mb-2 fs-6">Brad Meyn</h5>
            <ul class="list-unstyled small">
              <li>
                <a
                  class="text-muted text-decoration-none"
                  target="_blank"
                  href="https://www.bradmeyn.com/"
                  >Personal site</a
                >
              </li>
              <li>
                <a
                  class="text-muted text-decoration-none"
                  target="_blank"
                  href="https://github.com/bradmeyn"
                  >Github</a
                >
              </li>
            </ul>
          </div>
          <div class="col-6 col-sm-4">
            <h5 class="mb-2 fs-6">Other Projects</h5>
            <ul class="list-unstyled small">
              <li>
                <a
                  class="text-muted text-decoration-none"
                  target="_blank"
                  href="https://bradmeyn.github.io/react-todo-list/"
                  >To Do List</a
                >
              </li>
              <li>
                <a
                  class="text-muted text-decoration-none"
                  target="_blank"
                  href="https://investment-growth-calculator.netlify.app/"
                  >Future Value Calc</a
                >
              </li>
            </ul>
          </div>
          <a
            class="text-muted d-block mx-auto pt-3 border-top border-muted pb-2 text-decoration-none d-flex justify-content-center align-items-center small"
            target="_blank"
            href="https://github.com/bradmeyn/clientBook"
            ><i class="fa-brands fa-github fs-5 text-muted me-2"></i>
            <span>bradmeyn/clientBook</span></a
          >
          <p class="text-center small text-muted">
            Copyright &copy Clientbook 2022. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"
  ></script>
</html>
