<%- include('../partials/head') -%>

<body class="d-flex flex-column vh-100 ">
    <!-- <%- include('../partials/header') -%> -->

<main class="container mt-5">

    <div class="px-4 py-5 my-5 text-center">
        <img src="./8058c5e00ecf42689886bef46a75684c.png" alt="" class="d-block mx-auto mb-4">
        <h1 class="display-5 fw-bold">Welcome to Client Book</h1>
        <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 fs-4">A CRUD app using Node.js, Express & MongoDB for client storing contact information.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button class="btn btn-primary btn-lg px-4 gap-3">Sign Up</button>
            <button class="btn btn-outline-secondary btn-lg px-4">Login</button>
        </div>
        </div>
    </div>

</main>
    
</body>

<%- include('../partials/footer') -%>