<%- include('../partials/head') -%>

<body class="d-flex flex-column flex-grow-1" style="min-height: 100vh;">
  <nav class="navbar navbar-dark shadow-sm">
    <div class="container d-flex justify-content-between flex-grow-1">
      <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/images/logo.svg" class="me-2" alt=""><span class="fs-3">Clientbook</span>
  </a>
    </div>
  </nav>

    <main class="d-flex flex-column h-100 w-100 flex-grow-1 bg-light" >

        <div class="container my-3">
        <div class="bg-white p-4 shadow-sm mx-auto mt-3 card-max-width">
        <h3 class="mb-3 fs-2">Sign up for Clientbook</h3>
        <p class="mb-4 fs-6  text-muted">Discover why ClientBook is the fastest growing client management software in the world today</p>

        <form action'/register' method="POST"  novalidate class="needs-validation mb-4">
          <div class="form-group pb-2">
            <label class="text-muted small" for="businessName">Business Name</label>
            <input type="text" class="form-control" id="businessName" name="account[name]" >
          </div>
          <h6 class="my-3">Administrator Details</h6>
          <div class="row">
            <div class="form-group col-md-6 pb-2">
              <label class="text-muted small" for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name="user[firstName]" >
            </div>
            <div class="form-group col-md-6 pb-2">
              <label class="text-muted small" for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName"  name="user[lastName]">
            </div>
          </div>
          <div class="form-group pb-2">
            <label class="text-muted small" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="user[email]" >
          </div>
          <div class="form-group pb-2">
            <label class="text-muted small" for="username">Username</label>
            <input type="text" class="form-control" id="username" name="user[username]" >
          </div>
          <div class="form-group pb-4 mb-2">
            <label class="text-muted small" for="password">Password</label>
            <input type="Password" class="form-control" id="password" name="user[password]" >
          </div>
        
          <button type="submit" class="btn btn-primary btn-lg w-100">Sign up</button>
        </form>
        <div class="small text-center"><span class="text-muted "> Already have an account?</span> <a class="link text-center d-block" href="/login">Login</a></div>
        </div>
        </div>
      
      </div>
      
     </div>



    </main>



</body>

<%- include('../partials/footer') -%>
