<%- include('../partials/head') -%>

<body class="d-flex flex-column bg-light" style="min-height: 100vh">
  <%- include('../partials/navbar') -%>

  <main class="container flex-grow-1 p-5">
    <%- include('../partials/flash') -%>
    
    <h2>Hi, Brad</h2>
    <hr />
    <div class="g-3 row mb-5">
      <h5 class="text-secondary">Quicklinks</h4>

        <div class="col-md-4">
          <a href="/clients" class="text-dark rounded  d-flex justify-content-center align-items-center p-3 quicklink quicklink--blue">
            <div class="d-flex align-items-center justify-content-start" style="width: 100px">
              <span class="fs-2  text-primary"><i class="fa-regular fa-user"></i></span>
              <h5 class="ms-4 mb-0 fw-bold">Clients</h5>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a href="/notes" class="text-dark rounded d-flex justify-content-center align-items-center p-3 quicklink quicklink--yellow">
              <div class="d-flex align-items-center justify-content-start" style="width: 100px">
                <span class="fs-2  text-warning"><i class="fa-regular fa-note-sticky"></i></span>
                <h5 class="ms-4 mb-0 fw-bold">Notes</h5>
              </div>
          </a>
        </div>
        
        <div class="col-md-4">
          <a href="/jobs" class="text-dark rounded d-flex justify-content-center align-items-center p-3 quicklink quicklink--green">
              <div class="d-flex align-items-center justify-content-start" style="width: 100px">
                <span class="fs-2  text-success"><i class="fa-regular fa-briefcase"></i></span>
                <h5 class="ms-4 mb-0 fw-bold">Jobs</h5>
              </div>
          </a>
        </div>


        <!-- <div class="col-md-3">
        <a href="/clients" class="text-dark rounded d-flex justify-content-center align-items-center p-3 quicklink quicklink--red">
            <span class="fs-2  text-danger"><i class="fas fa-tv"></i></span>
            <h5 class="ms-4 mb-0 fw-bold">Clients</h5>
        </a>
      </div> -->
    </div>

    <div class="row g-4 mb-4">
      <div class="col-sm-6 col-xl-3 ">
       <div class="shadow-sm p-5 bg-white fs-1">
         Current Pipeline Value
       </div>
      </div>

      <div class="col-sm-6 col-xl-3 ">
        <div class="shadow-sm p-5 bg-white fs-1">
          chart
        </div>
       </div>

       <div class="col-sm-6 col-xl-3 ">
        <div class="shadow-sm p-5 bg-white fs-1">
          chart
        </div>
       </div>

       <div class="col-sm-6 col-xl-3 ">
        <div class="shadow-sm p-5 bg-white fs-1">
          chart
        </div>
       </div>
      
       
    </div>

    <div class="row g-4 mb-4">
      <div class="col-sm-6 col-xl-7 ">
       <div class="shadow-sm p-5 bg-white fs-1">
         Total Revenue
       </div>
      </div>

      <div class="col-sm-6 col-xl-5 ">
        <div class="shadow-sm p-5 bg-white fs-1">
          Jobs Pie Chart
        </div>
      </div>

      <div class="col-sm-6 col-xl-5 ">
        <div class="shadow-sm p-5 bg-white fs-1">
          Client Birthdays
        </div>
       </div>
 
       <div class="col-sm-6 col-xl-7 ">
         <div class="shadow-sm p-5 bg-white fs-1">
           chart
         </div>
       </div>
       
    </div>
    
  </main>

  <%- include('../partials/footer') -%>
</body>
